.header {
    position: sticky;
    width: 100%;
    padding: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 70px;
    z-index: 20;
    background-color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.header_row {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: space-between; 
    height: 100%;
    color: white;
}
.header_cash {
    padding: 5px;
    border-right: dotted lightgrey 1px;
}
.header_stock {
    padding: 5px;
}
.header_logout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.header_button {
    width: 50%;
    height: 75%;
    background-color: Transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.header_button:focus {
    outline: none;
}
.fa-power-off {
    color: red;
}
.header_cash_top, .header_stock_top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.header_cash_bottom, .header_stock_bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.fa-money {
    color: green;
}


