.header {
    padding: 0px;
    margin-bottom: 0px;
    position: sticky;
    top: 0;
    z-index: 20;
    height: 50px;

}
.header_row {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 5px 0px;
    align-items: center;
    justify-content: space-between; 
    background-color:black;
    color: white;
}
.header_cash {
    padding: 5px;
    border-right: dotted lightgrey 1px;
}
.header_stock {
    padding: 5px;
}
.header_logout {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}
.header_cash_top, .header_stock_top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.header_cash_bottom, .header_stock_bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}



