.history {
    position:static;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: calc(100vh - 120px);
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;
}
.history::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("../images/background.jpg");
    opacity: 0.4;
    background-repeat: no-repeat;
    background-size: cover;
}
.history_row {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 10px;
    position: relative;
    align-items: center;
    color: white;
}
.history_section {
    background-color: rgba(0,0,0,.8);
    border: black solid 1px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    margin-bottom: 5px;
}
.history_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 12px;
    font-size: 18pt;
    font-weight: 600;
    border-bottom: limegreen solid 2px;
    margin-bottom: -1px;
}
.history_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 12px;
    border-top: limegreen dotted 1px;
}
.history_detail {
    width: 100%;
    margin: 0;
    padding: 0;
}
.history_detail_top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 3px;
}
.history_detail_bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 3px;
    color: rgb(151, 25, 124)
}
.history_price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 3px;
}
