.search {
    position:static;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    height: calc(100vh - 120px);
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;
}
.search::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("../images/background.jpg");
    opacity: 0.4;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.search_row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 5px;
    align-items: center;
    color: white;
    background-color: rgba(0,0,0,.8);
    border: black solid 1px;
    border-radius: 15px;
}
.search_input_section {
    height: 20pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
}
input:focus::placeholder {
    color: transparent;
  }
.search_input {
    background-color: lightgreen;
    border: none;
    height: 100%;
    border-right: darkgreen solid 1px;
    text-align: center;
}
.search_button {
    height: 100%;
    background-color: lightgreen;
    border: none;
    border-left: lightgreen solid 1px;
    cursor: pointer;
    font-size: 14pt;
    font-weight: 800;
}
.fa-search {
    color: darkgreen;
}
.search_header {
    width: 100%;
    margin: 0px;
    padding: 12px;
}
.search_position {
    width: 100%;
    margin: 0px;
    padding: 12px;
    border-top: white dashed 2px;
}
.search_header_title {
    font-size: 20pt;
    font-weight: bold;
    padding: 0;
}
.search_header_price {
    font-size: 18pt;
    font-weight: bold;
    padding: 0;
}
.search_add {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
}
.search_add_button {
    width: 40px;
    height: 40px;
    background-color: black;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-plus-square, .fa-minus-square {
    color: purple;
}
.search_position_title {
    padding: 0;
    padding-bottom: 5px;
    font-weight: 800;
    font-size: 16pt;
}
.search_value_top, .search_value_bottom {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0px;
}
.search_shares_bottom, .search_value_bottom, 
.search_cost_bottom, .search_return_bottom {
    font-size: 14pt;
    font-weight: 800;
}
.search_trade {
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 0px;
}
.search_trade_button {
    width: 50%;
    height: 60%;
    background-color: purple;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14pt;
    font-weight: 800;
    margin: 1px 0;
}
.search_trade_button:focus {
    outline: none;

}

.modal {
    padding: 10px

}
.modal-dialog {
    
}
.modal-content {
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,.9);
}
.modal-header {
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.modal_fund {
    padding: 0;
}
 .modal_close_button {
   padding: 0;
   padding-right: 15px;
   margin: 0;
} 
.modal_x {
    font-size: 30pt;
    color: white;
}
.modal-body {
    width: 100%;
}
.modal_share, .modal_price, .modal_cost, .modal_limit {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.modal_limit_check {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}
.modal-footer {
    width: 100%;
}
.modal-body input {
    color: black;
    background-color: lightgreen;
    border: none;
}
#limitPrice {
    background-color: lightgreen;
}
::placeholder {
    color: black;
}